<div id="playlist-list">
  <hr>
  <h2>{{playlist.title}}</h2>
  <h3>{{playlist.song.title}}</h3>
  <h4>{{playlist.desc}}</h4>
  <h4>{{playlist.song.link}}</h4>
  <h4>{{playlist.song.about}}</h4>
  {{!-- <h5>Made by: {{playlist.user.email}}</h5> --}}
</div>
